#rlog-detail, .rlog-detail pre, .rlog-info{
	font-family: 'Ubuntu Mono', "Courier New", Courier, monospace;
	box-sizing: content-box;
	z-index: 10000;
	opacity: 0.9;
	background: black; 
	color: greenyellow;

}

.rlog-detail pre {
	border: 1px solid #cccccc;
	font-size: 12px;

}
.rlog-info, #rlog-detail{
	font-size: 14px;
	color: greenyellow;
}
.rlog-info hr , .rlog-detail hr{
	margin: 7px 0px;
}
.rlog-info table, #rlog-detail-content,#rlog-detail-content table{
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 2px;
}
.rlog-info{
	padding: 10px;
	display: none;
	position: fixed; 
	height: 200px; 
	left: 0px;
	right: 0px;
	top: 0px;
	border-bottom: #800 3px solid;
}


#rlog-detail{
	padding: 10px;display: none;
	position: fixed; 
	bottom: 0px; 
	top: 223px; 
	left: 0px;
	right: 0px; 
	overflow-y: auto
}

#rlog-server-index, #rlog-server-url,#rlog-info-search-id{
	font-family: 'Ubuntu Mono', "Courier New", Courier, monospace !important;
	background-color: black;
	color: orange
}

#rlog-detail-server{
	color: orange;
}
#rlog-detail-content .rlog-row-time{
	color: orange;
	width: 60px;
}

.rlog-row-time{
	color: orange;
	width: 140px;
}
.rlog-row-line{
	width: auto
}
.rlog-row-line{
	width: auto
}
.rlog-row-more{
	width: 40px;
	text-align: center;

}

.rlog-btn ,.rlog-info-show-btn, .rlog-clear-btn{
	border: 1px solid greenyellow; 
	padding:2px 4px;
	cursor: pointer;
}
.rlog-btn:hover {
	color: black;
	background-color: greenyellow;
}

.rlog-info-show-btn{
	border-color: lightblue; 
	color: lightblue;
}

tr .rlog-info-show-btn{
	border: none;
	color: lightblue;
}

.rlog-info-show-btn:hover{
	color: black;
	background-color: lightblue;
}

.rlog-clear-btn{
	border-color: red; 
	color: red;
}
.rlog-clear-btn:hover{
	color: black;
	background-color: red;
}
.logr-logLine{
	text-align: center;
}
.logr-logLine-INFO{
	color: black;
	background-color: lightblue;
}
.logr-logLine-WARN{
	color: black;
	background-color: orange;
}

.logr-logLine-ERROR{
	color: white;
	background-color: red;
}

.rlog-detail-row-json pre {
	margin: 0px;
}

.rlog-detail-row-json .key{
	color: white;
}

.rlog-detail-row-json .number{
	color: lightblue;
}

.rlog-detail-row-json .boolean{
	color: lightpink;
}

.rlog-detail-row-json .null{
	color: red;
}

.rlog-detail-row-json{
	display: none;
}