#rlog-detail, .rlog-detail pre, .rlog-info{
	font-family: 'Ubuntu Mono', "Courier New", Courier, monospace;
	box-sizing: content-box;
	z-index: 10000;
	opacity: 0.9;
	background: black; 
	color: greenyellow;

}
.log-transaction {
	background-color: lightblue;
	color: black;
}

.log-transaction td {
	padding-left: 20px;
	font-size: larger;
}
.log-table-detail-result tr.summary:hover{
	background-color:gray;
}

.rlog-detail pre {
	border: 1px solid #cccccc;
	font-size: 12px;

}
.log-table-detail-result tr.summary:hover{
	background-color:gray;
}

.rlog-info, #rlog-detail{
	font-size: 14px;
	color: greenyellow;
}
.rlog-info hr , .rlog-detail hr{
	margin: 7px 0px;
}
.rlog-info table, #rlog-detail-content,#rlog-detail-content table{
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 2px;
}
.rlog-info{
	padding: 10px;
	display: none;
	position: fixed; 
	height: 200px; 
	left: 0px;
	right: 0px;
	top: 0px;
	border-bottom: #800 3px solid;
}
.rlog-info tr {
	white-space: nowrap;
}

#rlog-detail{
	padding: 10px;display: none;
	position: fixed; 
	bottom: 0px; 
	top: 223px; 
	left: 0px;
	right: 0px; 
	overflow-y: auto
}

#rlog-server-index, #rlog-server-url,#rlog-info-search-id{
	font-family: 'Ubuntu Mono', "Courier New", Courier, monospace !important;
	background-color: black;
	color: orange
}

#rlog-info-search-id{
	width: 600px;
}

#rlog-server-index{
	width: 60px;
}

#rlog-detail-server{
	color: orange;
}
#rlog-detail-content .rlog-row-time{
	color: orange;
	width: 120px;
}

.rlog-row-time{
	color: orange;
	width: 150px;
	white-space: nowrap;
}
.rlog-row-line{
	/* width: auto
	*/}
.rlog-row-line{
	/* width: auto
	*/}
.rlog-row-more{
	width: 40px;
	text-align: center;

}

.rlog-btn ,.rlog-info-show-btn, .rlog-clear-btn{
	border: 1px solid greenyellow; 
	padding:2px 4px;
	cursor: pointer;
}
.rlog-btn:hover {
	color: black;
	background-color: greenyellow;
}
#rlog-detail-more-searches-btn {
	padding-top:8px;
	line-height: 200%;
}
#rlog-detail-more-searches-btn  .rlog-btn {
	margin-right: 5px;
	white-space: nowrap;
}


.rlog-info-show-btn{
	border-color: lightblue; 
	color: lightblue;
}

tr .rlog-info-show-btn{
	border: none;
	color: lightblue;
}

tr .rlog-info-show-btn-green{
	border: none;
	color: greenyellow;
}

.rlog-info-show-btn:hover{
	color: black;
	background-color: lightblue;
}

.rlog-clear-btn{
	border-color: red; 
	color: red;
}
.rlog-clear-btn:hover{
	color: black;
	background-color: red;
}
.logr-logLine, .rlog-logTransaction{
	text-align: center;
}
.rlog-logTransaction {
	width: 70px;
}
td.rlog-small-cell{
	width: 25px;
	text-align: center;
}

.logr-logLine-INFO, .rlog-logTransaction-OK{
	color: black;
	background-color: lightblue;
}
.logr-logLine-WARN, .rlog-logTransaction-FAILED{
	color: black;
	background-color: orange;
}

.logr-logLine-ERROR, .rlog-logTransaction-ERROR{
	color: white;
	background-color: red;
}

.rlog-detail-row-json pre {
	margin: 0px;
}

.rlog-detail-row-json .key{
	color: white;
}

.rlog-detail-row-json .number{
	color: lightblue;
}

.rlog-detail-row-json .boolean{
	color: lightpink;
}

.rlog-detail-row-json .null{
	color: red;
}

.rlog-detail-row-json{
	display: none;
}

.rlog-tabs{
	margin-top: 10px;
	/*height: 25px;*/
	border-bottom: 1px solid white;
	padding-bottom: 3px;
}

@-moz-document url-prefix() {
    .rlog-tabs{
		padding-bottom: 1px;
	}
}
.rlog-tabs span{
	padding: 3px 10px 3px 10px;
	border: solid 1px white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-right: 5px;
	border-bottom: none;
}

.rlog-tabs span:hover{
	color: black;
	background-color: white;
}

.rlog-tabs span.selected{
	color: black;
	background-color: lightblue;
	border-bottom: lightblue solid 1px;
}

@-moz-document url-prefix() {
    .rlog-tabs span.selected{
		border-bottom: lightblue solid 1px;
	}
}

.rlog-tab{
	overflow: auto; height: 150px;
	display: none;
}
.rlog-tab-selected{
	/*overflow: auto; height: 150px;*/
	display: block;
}

.rlog-tab .rlog-action-bar{
	right: 30px; 
	padding-top: 10px; 
	position: absolute;
}